/*Universal*/

body a {
    color: inherit;
    text-decoration: none !important;
}

body a :hover {
    color: #FFF;
    text-decoration: none !important;
    cursor: pointer;
}



/*Color*/

body {
    background-color: red;
}

.TaskAppNavBar .fas {
    color: #FFFFFF;
    opacity: 74%;
}

.task-card-kit .fa-user-circle {
    color: indigo;
}

.task-card-kit .fa-star {}

.fa-ellipsis-h {
    color: #000000;
    opacity: 87%;
}


/*BG*/

.TaskAppNavBar {
    background-color: #596775;
}

.status-bar-session .card-header {
    background-color: #E9ECEF;
}

.status-bar-session .nav-item:first-of-type {
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    border: 2px solid #E0E0E0;
}

.task-column-session {
    background-color: #E9ECEF;
}

.task-column-session .card {
    background-color: #DEE2E6;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.task-card-kit .card-body {
    background-color: rgb(240, 241, 245);
    border-radius: 5px;
    transition: 400ms;
    color: #000000;
    opacity: 87%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.task-card-kit .card-body:hover {
    background-color: #FFFFFF;
    opacity: 80%;
}

.task-card-kit:hover {
    transition: 150ms;
    transform: scale(1.01);
}


/*Nav Bar Setting*/

.left-nav-bar {
    margin-left: 4px;
}

.right-nav-bar {
    margin-right: 4px;
}

.left-nav-bar .navbar-menu {
    margin-right: 32px;
    position: relative;
    top: -5px;
}

.right-nav-bar .navbar-star,
.right-nav-bar .navbar-search {
    margin: 0 8px;
}

.status-bar-session a {
    font-weight: 500;
}

.status-bar-session a:hover {
    color: #828282;
    opacity: 70%;
}

.status-bar-session .card {
    border: none !important;
}

.status-bar-session .card-header {
    border: none !important;
}

.status-bar-session {
    color: #828282;
}


/*Task Column Setting*/

.task-column-session .card {
    border: none;
}

.task-column-session .card-header {
    border-bottom: 1px solid lightgrey;
}

.task-column-session .card-footer {
    border-top: 1px solid lightgrey;
}

.task-column-session {
    padding: 20px;
}

.status-overlap {
    position: relative;
    top: 20px;
    left: -5px;
    z-index: 100;
}

.task-card-kit .status-overlap:hover {
    position: relative;
    top: 18px;
    transition: 100ms;
}

.star-overlap {
    position: relative;
    top: 38px;
    left: 0;
    z-index: 100;
}

.task-card-kit .star-overlap:hover {
    position: relative;
    top: 34px;
    transition: 100ms;
}

.task-card-kit .card-title {
    margin-top: 1rem;
}

.task-card-kit:first-of-type {
    margin-top: -19px;
}

.task-card-kit .fa-user-circle {
    padding-top: 6px;
}

.task-card-kit .status-overlap {
    font-weight: 500;
}

.card-footer button {
    background-color: #01A999;
    color: white;
    font-weight: bold;
    width: 100%;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}


/* Task List Setting */

.task-list-kit {
    margin: 12px 12px 12px 12px;
    max-width: 30rem;
    max-height: 34rem;
    overflow-x: scroll;
}


/* Scrollbar setting*/


/* Works on Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(181, 181, 196) rgb(95, 92, 85);
}


/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #ccd0d4;
    border-radius: 20px;
    border: 3px solid transparent;
}


 @media only screen and (min-width: 800px) {
    .card {
        min-width: 40rem !important;
    }

    .task-list-kit {
        min-width: 40rem;
        max-width: 45rem;

    }
  } 



  .hide {
      display: none;
  }

  