body {
    display: block;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    color: gray;
    margin: 0 auto;
}


/* responsive */

.mobile {
    display: none;
}


/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 16px 24px;
}

.logo img {
    height: 32px;
}

.logo {
    font-size: 24px;
}

.logo .titleA {
    color: rgb(78, 78, 78);
    font-weight: bold;
}

.logo .titleB {
    color: gray;
    font-weight: normal;
}

.content span {
    margin-right: 1rem;
    font-size: 24px;
}

@media only screen and (max-width: 600px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
        justify-content: center;
    }
}


/* banner */

.banner {
    background-color: rgb(206, 206, 206);
    display: flex;
}

.left_pannel {
    margin: 32px 24px;
    width: 60%;
}

.left_pannel img {
    width: 100%;
}

.banner .content {
    color: rgb(68, 68, 68);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-right: 2rem;
}

button {
    background-color: rgb(65, 65, 65);
    border: none;
    color: white;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 2rem;
}


/* practicing */

.practicing {
    display: flex;
    justify-content: space-between;
}

.right_pannel {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.card {
    justify-content: center;
    align-items: center;
}

.practicing .all_card img {
    width: 100%;
    margin-top: 2rem;
}

.practicing h1 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(68, 68, 68);
    padding: 32px 0 24px 0;
}

.card h2 {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(68, 68, 68);
}

.card h3 {
    font-size: 0.5rem;
    font-weight: bold;
    margin: 8px 0;
}

.card-body {
    margin: 1rem 1rem 2rem 1rem;
}

p {
    font-size: 16px;
}

.name {
    padding: 32px 0;
    font-size: 12px;
}


/* Start learning */

.container-fluid {
    background-color: rgb(231, 231, 231);
    padding: 3rem 72px;
}

.container-fluid h1 {
    padding-bottom: 32px;
    font-weight: bold;
    color: rgb(68, 68, 68);
}

.container-fluid .row {
    padding-bottom: 24px;
}

.card-body {
    padding: 16px 16px 24px 16px;
}

.container-fluid p {
    font-size: 16px;
}


/* exhibit */

.exhibit {
    display: flex;
    margin: 24px 32px;
    width: 100%;
}

.exhibit h1 {
    font-weight: bold;
    color: rgb(68, 68, 68);
    padding: 24px 24px 8px 0;
}

.exhibit .urban {
    width: 60%;
}

.exhibit .content {
    width: 100%;
}


/* footer */

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding: 16px 24px;
}